.content { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}
.totals {
        width: 60%;
        display: flex ;
        justify-content: space-between;
        margin: auto;
        
    }
.total {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas {
    margin-left: 20px;
    font-size: 2rem;
}

@media (max-width:768px) {
    .totals {
        width: 100%;
        
    }
}