.cateogriesCount {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categoryTotal{
    width: 60%;
    display: flex ;
    justify-content: space-between;
    
}

@media (max-width:768px) {
    .categoryTotal {
        width: 100%;
        
    }
}