.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background-color: #201f1f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
    overflow-y: auto;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #1a1919;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 0 20px;
  }
  
  .sidebar-title {
    margin: 0;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .sidebar-menu-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .sidebar-menu-item:hover {
    background-color: #282828;
  }
  
  .sidebar-menu-icon {
    margin-right: 10px;
  }
  