body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282828;
  font-family: 'Comfortaa', sans-serif;
  color: #FFFFFF;
  background-color: #282828;
  font-size: 1.5rem;
  margin: 0%;
  padding: 0%;
  margin-left: 240px;
  box-sizing: border-box;
  padding: 20px;
  
}

code {
  font-family: 'Comfortaa', cursive;;
}
.navbar-main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.banner{
  display: flex;
  width: 100%;
  margin: auto;
  
}
.total-panels{
  display: flex;
  flex-direction: column;
  
}
.content{
  background-color: #232323;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
